header{
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 20%, rgba(9,9,121,1) 55%, rgba(255,0,52,1) 100%);
    padding: 20px 0;
}

nav li{
display: inline; 
margin:0 0 0 15px;

}

nav a {
    text-transform: uppercase;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
    
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}
nav a:hover{
    color:#c719b0;
    text-decoration:underline;
}
.productos{
    width: 940px;
    position: relative;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
}
.productos li:hover {
   border-color:#c719b0;
   ; 
}
.productos li:hover h2{
    font-size: 33px;
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.producto-descripcion{
    font-size: 18px;
}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
footer{
    text-align: center;
    background: url(imagenes/bg.jpg) ;
    padding: 40px;
}
.copyright{
    color: #fff;
    font-size: 13px;
    margin: 20px;
}

main{
    width: 940px;
    margin: 0 auto;  
}
form{
    margin: 40px 0;
    
}

form label,form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px ;
    
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}


.autor {
    padding: 10px;
}
fieldset{
    padding: 20px;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color:#fff;
    background: #2233c7;
    border-radius: 5px;
    border:none;
    transition: 1s background ;
   
}

.enviar:hover{
    background: rgb(243, 5, 5);
    color: #ffffff;

    
}



